{% extends 'base.html' %}


{% block body %}
    <!-- Aoutus heading -->
    <div class="h2-div " style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">About Us</p>
    </div>
    <!-- Paragraph -->
    <div style="margin-left: 2rem; clear: none;">
        <div class="leftdiv pg-b clear-1" style="padding-top: 5rem; padding-right: 3rem; width: 75%; ">
            <div style="width: 45%; float: left;">
                <p>
                    The “Ideal Group of Institutions, Ghaziabad” was started with the mission of imparting quality
                    education in the year 1998. Ever since its humble beginning in 1998, the Group has gone from
                    strength to strength. It is now acknowledged as one of the leading institutions in the galaxy of
                    Engineering Institutions in North India.
                </p>
            </div>
            <div style=" width: 45%; float: right;">
                <p>
                    The Group has the dual privilege of being close to the industrial belt as well as the IT hub of the
                    NCR.The following institutes exist under the aegis of IDEAL GROUP : <br> 1. Ideal Institute of
                    Technology (1998) <br> (Dr. A.P.J. Abdul Kalam Technical University, Uttar Pradesh, Lucknow Code :
                    028) <br> 2. Ideal Institute of Management and Technology (2010) <br> (Dr. A.P.J. Abdul Kalam
                    Technical University, Uttar Pradesh, Lucknow Code : 645)
                </p>
            </div>
           
            <div class="clear-1">
                <hr>
                <p>
                    All the Institutions are affiliated to Dr. A.P.J. Abdul Kalam Technical University, Lucknow and
                    approved by AICTE. Ideal Institute of Management and Technology offers Polytechnic which is
                    affiliated from Board of Technical Education, Lucknow. The Ideal Group of Institutions, Ghaziabad,
                    is one of the continuously progressing Groups that always innovate to fulfill the dreams and
                    aspirations of the students.
                </p>
            </div>

        </div>
        <div class="rightdiv pg-b" style="padding-top: 5rem; padding-left: 10px; text-align: justify; ">
            <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
            <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
            <div style="padding-left: 1rem;">
                <a class="clear-1" href="/index">Home </a><br>
                <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
                <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
                <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
                <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
                <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
                <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
                <!-- <a class="clear-1" href="/index">Home </a><br>
                <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
            </div>
        </div>
    </div>


    <br>

    <br>
    <br>
{% endblock body %}
    