{% extends 'base.html' %}

{% block body %}
    <!-- admission -->
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman', Times, serif;">ACHIVENENTS</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 3rem; font-family: 'Times New Roman', Times, serif; padding-right: 3rem; width: 75%;">
                
                    <strong>IIPC</strong>
            
                <P>
                    Industry Institute Partnership Cell (IIPC) was established at Ideal Institute of Technology (an
                    Institution of Ideal Group of Institutions), on February 24, 2009, with full financial support of
                    All India Council for Technical Education (AICTE), MHRD, Govt. of India. This Cell was established
                    to bridge the gap between expectations of Industry and engineers graduating from this Institution.

                </P>
                <P class="p-l p-l1">
                    The mission of IIPC at Ideal Institute of Technology is to develop close link between Industry and
                    Institute, to focus on present day requirements of Professionals (Engineers / Technologists /
                    Managers), meeting the future Human Resource needs and bringing about improvement in the performance
                    of Industries by disseminating technical advances through informal educational techniques and thus
                    effectively implementing R&D; and consultancy activities.
                </P>
                <P class="p-l p-l1">
                    To fulfill the mission, IIPC takes special pains to organize national conferences, workshops,
                    seminars, guest lectures, training programs and Industrial visits. It facilitates the process of
                    providing consultancy services to industries and business organizations.

                </P>
                <strong>EDC</strong>
                <P >
                    An Entrepreneurship Development Cell (EDC) exists at Ideal Institute of Technology, with the primary
                    objective of developing entrepreneurial skills in the students and make them self dependent. The
                    Cell fosters better linkages between the Institute, Industries and R&D; Institutions in the region
                    and other related organizations, engaged in promoting small and medium enterprises.
                </P>
                <P class="p-l p-l1">
                    Keeping the above objectives in view, the Entrepreneurship Development Cell plans to organize
                    Entrepreneurship Awareness Camps for Idealities every year. Expert spreads awareness on all aspects
                    of setting up an enterprise planned in collaboration with the National Small Scale Industry
                    Corporation (NSIC), Okhla, New Delhi, District Industry Centers (DICs), National Bank for
                    Agricultural and Rural Development (NABARD) and Small Scale Industry (SSI).
                </P>
                <P class="p-l p-l1">
                    The Cell has received a grant-in-aid of Rs. 8,00,000/- (Rs. Eight Lacs Only) in March 2011 from All
                    India Council for Technical Education (AICTE), Ministry of Human Resource Development, Government of
                    India under the EDC Scheme.
                </P>
                <strong>NBA</strong>
                <P >
                    The Flagship Institute of Ideal Group of Institutions, Ideal Institute of Technology has got accreditation from National Board of Accreditation, New Delhi for B.Tech. (CSE,ECE,EEE,ME,IT) Programme.
                </P>
                <br>
                <strong>UPTU Academic Excellence Award</strong>
                <P class="p-l p-l1">
                    Ideal Institute of Technology received UPTU Academic Excellence award from the then Honorable Governor of UP Mr. T.V. Rajeswar on 13th June, 2008 for academic excellence.
                </P>
                
            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>

    </section>
    <br>

    <br>
    <br>

{% endblock body %}