{% extends 'base.html' %}

{% block body %}
    <!-- admission -->
    <div class="h2-div " style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">Admission Open 2022-20233</p>
    </div>

     <!-- Paragraph -->
     <div style="margin-left: 2rem; clear: none;">
        <div class="leftdiv pg-b clear-1" style="padding-top: 5rem; padding-right: 3rem; width: 75%; ">
            <div>
                <p class="font-weight-light">Ideal Institute of Technology invite applications from eligible students to take
                    admission in B.Tech. Interested Students can download the <a
                        href="/static/admissionform.pdf" target="_blank">Admission Form</a> and submit the duly filled application form along
                    with required documents through Speed Post / Courier or by Hand to:
                </p>
            </div>
            <br>
            <br>
            <div >
                <p class="font-weight-bold">Admission Cell, Ideal Group of Institutions, <br>
                    Ideal Knowledge Park, Govindpuram, <br>
                    Ghaziabad (UP) , Delhi NCR 201003
                </p>
            </div>
           
            <div class="clear-1">
                <hr>
                <p class="font-weight-bold">Interested Students can meet our Admission Counsellor (Engg. And Technology) or
                    Admission Counsellor (Management) at Campus on any working days (including Saturday and Sunday) between 9.00
                    a.m. to 4.00 p.m. from 25/09/2022 and submit the Application Form.
                </p>
            </div>

        </div>
        <div class="rightdiv pg-b" style="padding-top: 5rem; padding-left: 10px; text-align: justify; ">
            <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
        </div>
    </div>
{% endblock body %}

   


    