{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman', Times, serif;">AFFILIATIONS</p>
    </div>

    <div style="margin-left: 2rem; ">
        <div class="leftdiv pg-b" style="padding-top: 5rem; padding-right: 3rem; width: 75%;">
            <p class="p-l p-l1">All the Institutions are affiliated to <a href=" https://aktu.ac.in/"> Dr. A.P.J. Abdul
                    Kalam Technical University ,
                    Uttar Pradesh, Lucknow</a> approved by <a href="https://aicte-india.org/"> AICTE </a>, <a
                    href="https://jeecup.admissions.nic.in/">Board of Technical Education</a>, Government of UP.
            </p>
            <P class="p-l p-l1">
                Ideal Institute of Technology (B.Tech, 2nd Year Lateral entry) <br>
                Approval : AICTE, New Delhi <br>
                <!-- Click here to download the Approval Letter from AICTE) -->
                Affiliation : Dr. A.P.J. Abdul Kalam <br>
                Technical University, Uttar Pradesh, Lucknow(Code 028)
            </P>
            {% comment %} <P class="p-l p-l1">
                Ideal Institute of Management and Technology (Polytechnic) <br>
                Approval : AICTE, New Delhi. <br>
                <!-- Click here to download the Approval Letter from AICTE)  -->
                Affiliation : Dr. A.P.J. Abdul Kalam <br>
                Technical University, Uttar Pradesh, Lucknow and Board of Technical Education, Lucknow (Code 645) {% endcomment %}
            </P>
        </div>

        <div class="rightdiv pg-b" style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
            <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
        </div>
    </div>

    <br>

    <br>
    <br>

{% endblock body %}