{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">B. Tech Admission Open 2022-2023</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; padding-right: 3rem; width: 75%;">
                <p class="font-weight-bold">Ideal Institute of Technology, Ghaziabad offers a 4 year full time Programme in B. Tech with various branches as follows :</p>
                <ul class="clear-1">
                    <li class="clear-1">Computer Science and Engg.(CSE) with 90 seats</li>
                    <li class="clear-1">Civil Engg.(CE) with 90 seats</li>
                    <li class="clear-1">Mechanical Engg.(ME) with 90 seats</li>
                    <li class="clear-1">Electronics and Communications .(ECE) with 90 seats</li>
                    <li class="clear-1">Information Technology (IT) with 30 seats</li>
                    <li class="clear-1">Electrical and Electronics Engg. (EEE) with 30 seats</li>
                </ul>
                <p class="clear-1"> All programs are approved by AICTE and affiliated to Dr. A.P.J. Abdul Kalam Technical University, Lucknow.</p>
            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>

    </section>
    <br>

    <br>
    <br>
{% endblock body %}