{% extends 'base.html' %}

{% block body %}

<div class="h2-div " style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
    <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">CAREER@IDEAL</p>
</div>



<div style="margin-left: 2rem; clear: none;">
    <div class="leftdiv pg-b clear-1" style="padding-top: 5rem; padding-right: 3rem; width: 75%; ">
        <div class="row">

            <div class="col-sm-12 col-md-9">
                <b>Grade at Ideal Group of Institutions.</b>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-md-3"><b>POSTS</b></div>
                    <div class="col-sm-3 col-md-3"><b>QUALIFICATION</b></div>
                    <div class="col-sm-3 col-md-3"><b>EXPERIENCE</b></div>

                </div>
                <br>

                <div class="row">
                    <div class="col-sm-3 col-md-3"><b>Assistant Professor(Grade I)</b></div>
                    <div class="col-sm-3 col-md-3"><b>(a)B.Tech with 75% and GATE Qualified OR (b)B.Tech and 75
                            percentile in GATE OR (c)B.Tech and M.Tech</b></div>
                    <div class="col-sm-3 col-md-3"><b>Nil</b></div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-md-3"><b>Assistant Professor(Grade II)</b></div>
                    <div class="col-sm-3 col-md-3"><b>Ph.D.</b></div>
                    <div class="col-sm-3 col-md-3"><b>Nil</b></div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-md-3"><b>Assistant Professor(Grade III)</b></div>
                    <div class="col-sm-3 col-md-3"><b>Ph.D.</b></div>
                    <div class="col-sm-3 col-md-3"><b>5 years after M.Tech./ M. Arch.</b></div>

                </div>
                <br>

                <div class="row">
                    <div class="col-sm-3 col-md-3"><b>Associate Professor</b></div>
                    <div class="col-sm-3 col-md-3"><b>Ph. D</b></div>
                    <div class="col-sm-3 col-md-3"><b>7 years after M.Tech</b></div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-md-3"><b>Professor</b></div>
                    <div class="col-sm-3 col-md-3"><b>Ph. D</b></div>
                    <div class="col-sm-3 col-md-3"><b>14 years after M.Tech</b></div>

                </div>
                <br>

                <div class="row">
                    <div class="col-sm-3 col-md-3"><b>Accountant</b></div>
                    <div class="col-sm-3 col-md-3"><b>Graduate</b></div>
                    <div class="col-sm-3 col-md-3"><b>3 years at school or college</b></div>

                </div>
                <br>
                <h5><b><a href="/static/TechnicalEvaluationForm.pdf" target="_blank">Self Assesment Form (Technical)</a></b></h5>
                <h5><b><a href="/static/NonTechnicalEvaluationForm.pdf" target="_blank">Self Assesment Form (Non-Technical)</a></b></h5>
                <!-- <p>If your score is more than 35 then you are welcome to apply online.</p>
                <h2><b>APPLY ONLINE</b></h2> -->


                <!-- <a href="#" target="_blank">
                    <h2><b>Click here to proceed</b></h2> -->
                </a>
            </div>
        </div>

    </div>
    <div class="rightdiv pg-b" style="padding-top: 5rem; padding-left: 10px; text-align: justify; ">
        <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
    </div>
</div>


{% endblock body %}