{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="font-family: 'Times New Roman', Times, serif; padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">CHAIRMAN'S MESSAGE</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; padding-right: 3rem; font-family: 'Times New Roman', Times, serif; width: 75%; font-size: medium;">
                <img src="/static/images/chairman.png" alt="#" class="img-thumbnail mr-2" id="hp">
                <p style="padding-bottom: 20px;">Since its modest beginnings in the year 1998, Ideal Group of Institutions, Ghaziabad
                    has now grown into a fully integrated hub in the fields of Engineering, Architecture, Management and
                    Professional Education. We have achieved many milestones in our journey of academic and professional
                    excellence and have carved a niche in the galaxy of front ranking institutions of the northern
                    region.
                </p>
                <p>
                    This Group is dedicated to transform young students into proficient professionals who can be
                    globally competitive.We inculcate human values and professional ethics in the students
                    which help them in making decisions and create paths that are good not only for them, but also for
                    the society, the nation, and the world as a whole.
                </p>
                <p>
                    To fulfill its mission in new and powerful ways, each member of our Institute strives to achieve
                    excellence in every endeavour - be it education, research, consulting or training - by making
                    continuous improvement in curriculum and pedagogy. We are proud of our human resources including
                    students, faculty and staff members.
                </p>
                <p ><strong>

                    We invite parents and their wards who aspire to be “technocrats and management professionals” to
                    visit, join our team and work together. I take this opportunity to extend a cordial welcome to you
                    and assure you that your sojourn here will be truly meaningful and fruitful.</strong>
                </p>
                <br>
                <p><strong>
                    Subhash Chand Gupta <br>
                    (Chairman) </strong>
                </p>
            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>

    </section>
    <br>

    <br>
    <br>

{% endblock body %}