{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman', Times, serif;">COMPUTER SYSTEMS</p>
    </div>

    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b clear-1" style="padding-top: 5rem; padding-right: 3rem; font-family: 'Times New Roman', Times, serif; width: 75%;">
                <div>
                    <p class="p-l p-l1">The Computer Centre is ably supported with fully equipped Computer Labs having
                        state-of-the-art resources with highly advanced HP Core 2 Duo Computer Systems and the latest
                        software applications on Engg., Management and Architecture.
                    </p>
                    <p class="p-l p-l1">
                        The Computer Labs are fully equipped with advanced LCD Projectors, Laser Printers, <strong>55
                            Mbps Internet bandwidth</strong>, Intranet facilities and Online UPS Poser System.
                    </p>
                    <p class="p-l p-l1">
                        Students are encouraged to develop their skills using <strong>.NET, MS-SQLSERVER, ORACLE, JAVA,
                            QUALENT, TANNER, PRO/E, MATLAB, AUTOCAD</strong> etc. and other internet tools apart from
                        traditional package like <strong>C, C++, DOS, MS Office, Solid Works</strong> etc.
                    </p>
                </div>

                <div>
                    <img src="/static/images/computercenter.jpg" alt="" class="img-fluid m-auto" >
                </div>

            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>

    </section>
    <br>

    <br>
    <br>

{% endblock body %}