{% extends 'base.html' %}

{% block body %}
<div style="margin-left: 0rem; clear: none;">
    <div class="leftdiv pg-b clear-1" style="margin-left: 2rem; padding-top: 5rem; font-family: 'Times New Roman', Times, serif; padding-right: 3rem; width: 75%; ">
        <div style="width: 45%; float: left; clear: both;">
            <h4>Address</h4>
            <p>
                Ideal Group of Institutions,<br>
                Ideal Knowledge Park,<br>
                Near Gaur Homes <br>
                Govindpuram, Ghaziabad (UP) 201003 <br>
                Nearest Metro Railway Station: New Bus Adda<br>(Shahid Ashthal). <br>
                You can take Public Bus Service/Auto directly to Govindpuram.
            </p>
        </div>
        <div style=" width: 45%; float: left; clear: right;">
            <h4>Phones</h4>
            <p>
                8700601012, 9599541094 <br>
                {% comment %} Polytechnic: 7217794130<br> {% endcomment %}
                Admission Incharge: 7836988248, 7982020290<br>
                {% comment %} email: verify@idealinstitute.ac.in<br> {% endcomment %}
                {% comment %} Dean Academics:<br> {% endcomment %}
                {% comment %} Registrar Office/Scholarship: 7217794130, 8368737395<br> {% endcomment %}
                email: verify@idealinstitute.ac.in<br>
                Account office: 9599541094<br>
                {% comment %} HR office:<br> {% endcomment %}
                {% comment %} hr@idealinstitute.ac.in<br>
                Hostel related issue: 7982941162<br> {% endcomment %}
                {% comment %} TPO: 0120-2767816 9873181209, 9871079318<br> {% endcomment %}
                {% comment %} email: tpo.ideal@gmail.com<br> {% endcomment %}
                Email Address<br>
                Support: info@idealinstitute.ac.in<br>
            </p>
        </div>
    </div>
    <div class="rightdiv pg-b" style="padding-top: 5rem; padding-left: 10px;">
        <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
    </div>

{% endblock body %}