{% extends 'base.html' %}

{% block body %}
<div class="h2-div " style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
    <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman', Times, serif;">Welcome To Department of Computer Science and
        Engineering/Information Technology</p>
</div>

<div class=" ">
    <div style="margin-left: 2rem; font-family: 'Times New Roman', Times, serif;">
        <div class="leftdiv pg-b" style="padding-top: 5rem; padding-right: 3rem; width: 75%; font-weight: bold; text-align:justify;">
            <p class="p-l p-l1" style="font-size: 30px; color:red; font-weight: bold; padding:0px;">HOD's Message
            </p>
            <p style="color:black;">
                I welcome all the students & their parents to the Department of Computer Science and Engineering.
                Computer Science and Engineering is an essence of today’s world. We are committed to providing not only
                the technical education to our students but also the leadership qualities through which they can create
                employment to others. I believe my role as an educator is to guide and nurture the next generation to
                establish skills to achieve health, respect, prosperity and fulfillment. I am passionate about students
                being empowered to succeed. As HOD, I use all tools available to inspire staff, students and community
                to work together to promote student achievement and well-being. I am an avid supporter of effective and
                innovative professional development that encourages teachers and HODs to be reflective and to
                continuously examine our practice to provide quality teaching and learning for each student. My role as
                HOD is to keep up with latest trends and research and be an active partner in the college's professional
                development. The ability to be innovative and creative is important to me. I enjoy being challenged and
                inspired by the people around me. I aim to enthuse and challenge staff and students to also be inventive
                and imaginative in their learning and day to day tasks.
            </p>
            <p style="color:red; text-align:center; font-size: 20px;">
                करत-करत अभ्यास के जड़मति होत सुजान। <br>
                रसरी आवत जात ते सिल पर पड़त निशान।।
            </p>
            <p style="color:black; font-weight:bold;">
                अर्थात मंद बुद्धि वाला व्यक्ति भी अभ्यास कर करके ज्ञानी और विद्वान बन सकता है, ठीक उसी प्रकार जैसे कि
                कुवे से पानी खींचते समय रस्सी के बार-बार आते-जाते रहने से उसके पत्थर पर निशान बन जाता है। तात्पर्य यह है
                कि एक ही क्रिया को बार-बार दोहराते रहने से वह पक्का हो जाता है। अतः अभ्यास एक ऐसी क्रिया है जिसके माध्यम
                से व्यक्ति किसी भी क्षेत्र में सफलता प्राप्त कर सकता है।
            </p>
            <p class="p-l p-l1" style=" color:red; font-weight: bold; padding:0px;">About Department
            </p>
            <p style="color:black;">
                The Department of Computer Science and Engineering/Information Technology, at the Ideal Institute of
                Technology GHaziabad was formed in the year 1998 and provides an outstanding research environment
                complemented by excellence in teaching.The undergraduate programme in computer sciences and
                engineering/Information Technology is essentially aimed at developing a student with excellent
                programming and system related competencies. The student is supposed to be developing skills and
                knowledge both in hardware and software technologies related to computer science. Teaching is focused in
                system programming as well as application programming. Skills are developed in computer architecture
                designing, maintenance and networking.
            </p>
            <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Career Prospects
            </p>
            <p style="color:black;">
                The prospects for this course are limitless what with computers becoming a part of everyday life.
                Numerous MNCs and Indian companies are always on the lookout for skilled CS engineers and one can choose
                from a range of options. Infosys, Wipro, Satyam-Mahindra, Dell, TCS, CMC, Polaris, Cognizant
                technologies, Sierra Atlantic, Google are some of the top companies that recruit CS graduates regularly.
                A number of opportunities in the government sector are also opening up, especially in the field of
                e-governance and Government to citizen services. Students can also pursue higher education in
                specialized courses like Software Engineering, Artificial Intelligence, and Networking etc.
            </p>
            <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Vision
            </p>
            <p style="color:black;">
                To create the most conducive environment for quality academic and research oriented undergraduate and
                postgraduate education in computer science and engineering and prepare the students for a globalised
                technological society and orient them towards serving the society.
            </p>
            <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Mission
            </p>
            <p style="color:black;">
                The prospects for this course are limitless what with computers becoming a part of everyday life.
                Numerous MNCs and Indian companies are always on the lookout for skilled CS engineers and one can choose
                from a range of options. Infosys, Wipro, Satyam-Mahindra, Dell, TCS, CMC, Polaris, Cognizant
                technologies, Sierra Atlantic, Google are some of the top companies that recruit CS graduates regularly.
                A number of opportunities in the government sector are also opening up, especially in the field of
                e-governance and Government to citizen services. Students can also pursue higher education in
                specialized courses like Software Engineering, Artificial Intelligence, and Networking etc.
            </p>
            <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Student Achievements
            </p>
            <ol class="clear-1" style="list-style-type: 1;">
                <li class="clear-1" style="color:black;">
                    Mr. Shivam Mishra, Department of Computer Science & Engineering for Selection in Infosys Limited,
                    Mysore Karnataka (December 2018)
                </li>
                <li class="clear-1" style="color:black;">
                    Ms. Shromi Srivastava, Department of Computer Science & Engineering for Selection in Cognizant
                    Technology Solutions, Bangalore (2018-2019).
                </li>
                <li class="clear-1" style="color:black;">
                    Himanshu Agrawal, Department of Computer Science & Engineering scored 4th position in GATE 2016.
                </li>
                <li class="clear-1" style="color:black; padding-bottom:10px;">
                    Ms. Nidhi Sinha for Securing 2nd Merit Position in AKTU.
                </li>
            </ol>
            <p class="p-l p-l1 clear-1" style="color:red; font-weight: bold; padding-top:10px; padding:0px;">Student
                Messages
            </p>
            <ol class="clear-1" style="list-style-type: 1;">
                <li class="clear-1" style="color:black;">
                    For college I want to say that...The college provides great environment for students.Great teachers,
                    kind staff, lovely classmates. I’ve learned a lot. If I had a question, I could always ask. The
                    teachers were very friendly, the content was perfect and so was the level. its great to be part of
                    such institution. I passed out in 2018 from Department of Computer Science & Engineering.....By
                    Shivam Mishra (Infosys Limited, Mysore Karnataka)
                </li>
                <li class="clear-1" style="color:black;">
                    I really enjoyed my time at the College. The quality of the programme, the teachers and Hilderstone
                    staff, as well as the host families, is wonderful. I also enjoyed the atmosphere and warmth at the
                    College. I passed out in 2018 from Department of Computer Science & Engineering.....By Shromi
                    Srivastava (Cognizant Technology Solutions, Bangalore)
                </li>
            </ol>
            <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Department Achievement
            </p>
            <ol class="clear-1" style="list-style-type: 1;">
                <li class="clear-1" style="color:black;">
                    The Department has started B.Tech programme in computer science and engineering/Inforamation
                    Technology and faculties from IITs, NITs and central universities has been deputed to teach the UG
                    students.
                </li>
                <li class="clear-1" style="color:black;">
                    The Depatrment has established an external advisory committee which meets annually to discuss an
                    industry trend which influences project designing and to meet industrial needs.
                </li>
                <li class="clear-1" style="color:black;">
                    The Department has close linkage with NASSCOM and conducted training programme on software training
                    programme by the renowned sotware testing organization known as QA infotech .
                </li>
                <li class="clear-1" style="color:black; padding-bottom:10px;">
                    The Department has conducted guest lectures by the eminent personalities from the industry and
                    academic field
                </li>
                <li class="clear-1" style="color:black; padding-bottom:10px;">
                    Presently the department is engaged in a number of exciting collaborative projects with local and
                    international industries.
                </li>
            </ol>
            <p class="p-l p-l1 clear-1" style="color:red; font-weight: bold; padding:0px;">Lab Details
            </p>
            <ol style="list-style-type: 1; color:black;">
                <li class="clear-1">
                    Digital Logic Design Lab
                </li>
                <li class="clear-1">
                    Discrete Structure & Logic Lab
                </li>
                <li class="clear-1">
                    Computer Organization Lab
                </li>
                <li class="clear-1">
                    Data Structures Using C/Java Lab
                </li>
                <li class="clear-1">
                    Operating Systems Lab
                </li>
                <li class="clear-1">
                    Software Engineering Lab
                </li>
                <li class="clear-1">
                    TAFL Lab
                </li>
                <liclass="clear-1">
                    Python Language Programming Lab
                    </li>
                    <li class="clear-1">
                        Database Management Systems Lab
                    </li>
                    <li class="clear-1">
                        Design and Analysis of Algorithm
                    </li>
                    <li class="clear-1">
                        Principles of Programming Languages
                    </li>
                    <li class="clear-1">
                        Web Technologies Lab
                    </li>
                    <li class="clear-1">
                        Computer Networks Lab
                    </li>
                    <li class="clear-1">
                        Compiler Design Lab
                    </li>
                    <li class="clear-1">
                        Computer Graphics Lab
                    </li>
                    <li class="clear-1">
                        Data Warehousing & Data Mining Lab
                    </li>
                    <li class="clear-1">
                        Distributed System Lab
                    </li>
                    <li class="clear-1">
                        Project Lab
                    </li>
            </ol>
        </div>

        <div class="rightdiv pg-b" style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
            <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
        </div>
    </div>
</div>


{% endblock body %}