{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman', Times, serif;">CHAIRMAN'S MESSAGE</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b clear-1" style="font-family: 'Times New Roman', Times, serif; padding-top: 5rem; padding-right: 3rem; width: 75%; font-size: medium;">
                <img src=" #" alt="#" class="img-thumbnail mr-2" id="hp">
                <p style="padding-bottom: 20px;">Ideal Institute of Technology is the best Institute in NCR Ghaziabad.
                    Our Director, faculties are very highly Qualified. Ideal Institute is providing Industry focused
                    education. Labs of CSE, IT, ME, ECE & CE are excellent. Our vision is to make Ideal the best
                    Institute. Our Results and Placement are 100%. Excellent infrastructure. Each student of Ideal will
                    be success Story. Successful career through our education is my vision. Knowledge is power.
                </p>

                <p><strong>

                        “I hope, the students at Ideal Group will adhere to the paths we have paved and bring laurels to
                        the ongoing legacy.”.</strong>
                </p>
                <br>
                <p><strong>

                        Prof (Dr.) S.R.Pandey <br>
                        Ph. D (IIT, Kharagpur) <br>
                        Director</strong>
                </p>
            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>

    </section>
    <br>

    <br>
    <br>
{% endblock body %}
