{% extends 'base.html' %}

{% block body %}
    <div class="h2-div " style="padding-top: 10px; font-family: 'Times New Roman'; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">Welcome To Deparment Of Electrical And Electronics Engineering</p>
    </div>


    <div class=" ">
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; font-family: 'Times New Roman'; padding-right: 3rem; width: 75%; font-weight: bold;">
                <p class="p-l p-l1" style="font-size: 30px; color:red; font-weight: bold; padding:0px;">HOD's Message
                </p>
                <p style="color:rgb(0, 0, 0);">
                    As the technology is changing day by day and world is tending to automization in every field. The Electrical and Electronics Engineering is dynamic field of engineering, it deals with the generation, transmission, distribution and utilization of the electricity. This branch of engineering is an application of laws of the physics related to the electricity. The students got industrial exposure and trained to update their knowledge by seminars on recent trends, guest lectures and interactive session with eminent industrialists. The electrical and electronics engineering provides a kick start career in the field of design, development, production and installation. Electrical engineering is an exciting job where an engineer works on the cutting-edge technology.
                </p>
                <p class="p-l p-l1" style=" color:red; font-weight: bold; padding:0px;">About Department
                </p>
                <p style="color:rgb(0, 0, 0);">
                    Department of Electrical and Electronics Engineering has experienced and highly qualified faculty members from IIT’s, NITS, Central and state government universities. All faculty members and staff provide best technical knowledge to the students as per the curriculum provided by the university, to fill the technical requirement of the students. The Electrical and Electronics Engineering department has established a firm goal to provide a high-quality engineering education to its students. The faculty guides the students for different projects and motivates them to publish the research paper. The computer lab always remains open during the college timings with internet facility so that students could use the internet according to their requirement. The department conducts training program of Auto CAD, Robotics, embedded system, MAT lab, simulink and Pspice software, the seminar program are organized for the students by renowned industrialists on different topics.
                </p>
                <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Vision
                </p>
                <p style="color:rgb(0, 0, 0);">
                    To establish an academy of excellence with focus on value-based education.
                </p>
                <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Mission
                </p>
                <p style="color:rgb(0, 0, 0);">
                    The mission of the department is to provide education to the students for their professional, social and technical development in a competitive society.
                </p>
                <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Student Achievements
                </p>
                <ul class="clear-1" style="list-style-type: square; color:rgb(0, 0, 0);">
                    <li class="clear-1" >
                        Mr. Arjun Dev student of electrical and electronic engineering department completed his M. Tech and Ph.D. from IIT Delhi and currently working as assistant professor with Energy institute (a unit of RGITP Bangalore).
                    </li>
                    <li class="clear-1" >
                        Mr. Lakhendra kumar student of electrical and electronics engineering department has done his M. Tech from NIT Warangal, currently working with Akash institute (IIT, JEE preparation institute)
                    </li>
                    <li class="clear-1" >
                        The Team of Electrical and Electronics Engineering department got first prize in IIT Mumbai in e-yantra robotics completion at national level.
                    </li>
                    <li class="clear-1" style=" padding-bottom:10px;">
                        Mostly students are selected and placed in government organization and reputed companies such as Railways, Indian Engineering services, Areva Transformer, Motherson India Pvt Ltd.
                    </li>
                </ul>
                <p class="p-l p-l1" style="color:red; font-weight: bold; padding-top:10px; padding:0px;">The Faculty
                </p>
                <p style="color:rgb(0, 0, 0);">
                    The faculty members are actively involved in research and academic development/ consultancy activities. The faculty takes keen interest to attend seminar, training, workshops and conferences to enhance their technical knowledge and latest technical trends.
                </p>
                <p class="p-l p-l1" style="color:red; font-weight: bold; padding:0px;">Lab Details
                </p>
                <p style="color:rgb(0, 0, 0);">
                    The Electrical and Electrical Engineering departments designed the laboratory for student’s better technical skills and understand the technology.

                </p>
                <p style="color:rgb(0, 0, 0);">
                    Basic electrical engineering laboratory

                </p>
                <ol style="list-style-type: 1; color:rgb(0, 0, 0);">
                    <li class="clear-1">
                        Electrical machine laboratory –I
                    </li>
                    <li class="clear-1">
                        Electrical machine laboratory – II
                    </li>
                    <li class="clear-1">
                        Electrical measurement and measuring instrument laboratory
                    </li>
                    <li class="clear-1">
                        Power system laboratory
                    </li>
                    <li class="clear-1">
                        Power electronics laboratory
                    </li>
                    <li class="clear-1">
                        Electrical workshop
                    </li >
                    <li class="clear-1">
                        Numerical technique laboratory
                    </li >
                    <liclass="clear-1">
                        Network laboratory
                    </li >
                    <li class="clear-1">
                        Control system laboratory
                    </li >
                    <li class="clear-1">
                        Software based power system laboratory
                    </li>
                    <li class="clear-1">
                        Electronics laboratory
                    </li>
                    <li class="clear-1">
                        Simulation laboratory
                    </li>
                    <li class="clear-1">
                        Project laboratory
                    </li>
                </ol>
            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>
    </div>

{% endblock body %}