{% extends 'base.html' %}

{% block body %}
    <div class="h2-div"
        style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman', Times, serif;">HOSTELS</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; padding-right: 3rem; font-family: 'Times New Roman', Times, serif; width: 75%;">

                    <p class="p-l ">Ideal Institute of Technology has four hostels, viz : two hostels (boys and girls) with an
                        capacity of 1500 students. All hostels are housed in the campus and have requisite facilities to
                        provide an environment as good as home. All the facilities ensure a comfortable living and
                        healthy working environment throughout the students stay. There is a huge lush green playground
                        specially developed for the students to take part in the various sports activities and all
                        religious festival celebrations.</p>

                    <p style="font-weight: bold;"> Salient features of the hostels at a glance:</p> 
                        <ul class="p-l " style="list-style-type:disc;">
                            <li>Full time residential wardens for both (boys and girls) hostels with caretakers to look after
                                the residential logistics
                            </li>
                            <li class="clear-1">
                                24 hour power back up.
                            </li>
                            

                            

                            <li>
                                Medical facility for hostel students round the clock. The Group also has tied up with a
                                prominent Hospital for medical emergencies along with the ambulance facility available 24×7.
                            </li>
                            <li>
                                The
                                Physician, Psychologist, and Psychiatrist regularly visit the hostels and counsel the students.
                            </li>
                            <li>
                                Fully equipped gymnasium exclusively in Boys and Girls hostels.
                            </li>
                            <li>
                                Yoga and meditation classes are
                                conducted for students along with modern gymnasium facility available.
                            </li>
                            <li>
                                Guest house for parents when they come to visit their wards.
                            </li>
                            <li>
                                24×7 Mess facilities are available to students serving hygienically prepared food.
                            </li>
                            <li>
                                Regular
                                inspection by the Institutes authority is conducted to keep check on the nutritional quality of
                                food.
                            </li>
                            <li>
                                Night canteen and shopping complex caters to the daily needs of the students.
                            </li>
                            <li>
                                24×7 Wi-Fi Internet connection in both Boys & Girls Hostels.
                            </li>
                            <li>
                                Special security arrangements at the hostels. CCTV cameras are installed in all hostels to
                                monitor the activities. The security personnel are deputed 24×7.
                            </li>
                            <li>
                                Television room, Badminton Court and Table Tennis room cater to the recreational needs of the
                                students.
                            </li>
                        </ul>
            </div>
            <div class="rightdiv pg-b" style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>
    </section>
    <br>
    <br>
{% endblock body %}
 