{% extends 'base.html' %}


{% block body %}


<img src="/static/images/img6.png" alt="" height="600" width="" class="d-block w-100">
<br>
<br>

<blockquote class="blockquote text-center" >
    <H1 class="font-weight-normal">WELCOME TO IDEAL GROUP OF INSTITUTIONS</H1>
</blockquote>


<div class="font-weight-normal mx-auto p-div" data-animation="fadeInUp">
    <!-- Text -->
    <p class="text-justify r-div">
        The “Ideal Group of Institutions, Ghaziabad” was started with the mission of imparting quality
        education in the year 1998. Ever since its humble beginnings in 1998, the Group has gone from
        strength to strength. It is now acknowledged as one of the leading institutions in the galaxy of
        Engineering Institutions in North India.
        <br />
        <br />
        The Group has the dual privilege of being close to the industrial belt as well as the IT hub of
        NCR. The following institutes exist under the aegis of IDEAL GROUP :
    </p>
    <p class="text-justify r-div" href="#" style="color: #195296; font-size: large; "><strong>1. <a href="">
        Ideal Institute of Technology (1998) (Dr. A.P.J. Abdul Kalam Technical University, Uttar
        Pradesh, Lucknow Code : 028)</a> </strong>
    </p>
    {% comment %} <ol style="margin-left: 55px; font-family: fantasy;">

        <li>
            <p>
                <p href="#" style="color: #195296; font-size: large; ">
                    Ideal Institute of Technology (1998) (Dr. A.P.J. Abdul Kalam Technical University, Uttar
                    Pradesh, Lucknow Code : 028)
                </p>
            </p>

        </li>
    </ol> {% endcomment %}
    <div>
        <p class="text-justify text-left r-div clear-1">
            All the Institutions are affiliated to Dr. A.P.J. Abdul Kalam Technical University, Lucknow and approved
            by AICTE. Ideal Institute of Management and Technology offers Polytechnic which is affiliated to Board
            of Technical Education, Lucknow.
            <br />
            <br />
            The Ideal Group of Institutions, Ghaziabad, is one of the continuously progressing Groups among its
            peers
            that always innovate to fulfill the dreams and aspirations of the students.
        </p>
    </div>
</div>
<br>
<br>

<!-- who-we-are -->
<section id="additional" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30" data-animation="fadeInLeft">
                <!-- Image -->
                <img src="/static/images/place.png" class="img-thumbnail float-left" alt="" />
            </div>
            <div class="col-md-8 clear-1" data-animation="fadeInRight">
                <div class="section-title text-left clear-1">
                    <!-- Title -->
                    <h2 class="title">Training &amp; Placements</h2>
                </div>
                <!-- Content -->
                <p style="text-align:justify">
                </p>
                <br>
                <ul class="clear-1">

                    <li style="list-style: square;">Organising Training Programmes, Seminars, Workshops and
                        Guest Lectures. </li>
                    <li style="list-style: square;">Tie ups with reputed assessment organizations.</li>
                    <li class="clear-1" style="list-style: square;">Organising Industrial Tour and Training. </li>
                    <li style="list-style: square;">Nurturing relationship with Alumni and providing help in
                        resolving their problems.</li>
                    <li style="list-style: square;">Conducting Entrepreneurship programmes. </li>
                    <li style="list-style: square;">Maximum efforts putting in training of students for
                        employability and it commences at First Year level itself. </li>

                </ul>
                <p style="text-align:justify">
                </p>
                <!-- Features -->
                <div class="row responsive-features top-pad-20">
                    <!-- Features 1 -->
                    <div class="col-md-4">
                        <!-- Title And Content -->
                        <span class="icon-refresh2 text-color"></span>
                        <!-- <h5><a href="graph1.htm" target="_blank">Training</a></h5> -->

                        <p></p>
                    </div>
                    <!-- Features 1 -->
                    <!-- Features 2 -->
                    <div class="col-md-4">
                        <!-- Title And Content -->
                        <span class="icon-settings3 text-color"></span>
                        <!-- <h5><a href="placegallery.htm" target="_blank">Visits</a></h5> -->
                        <p></p>
                    </div>
                    <!-- Features 2 -->
                    <!-- Features 3 -->
                    <div class="col-md-4">
                        <!-- Title And Content -->
                        <span class="icon-invert-colors text-color"></span>
                        <!-- <h5><a href="graph2.htm" target="_blank">Placement</a></h5> -->
                        <p></p>
                    </div>
                    <!-- Features 3 -->
                </div>
                <!-- Features -->
            </div>
        </div>
    </div>
</section>
<br>
<br>

<section id="features" class="page-section">
    <div class="container">
        <div class="section-title mb-4" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="text-center title">Eligibility for Admission</h2>
        </div>
        <div class="row">
            <div class="item-box icons-color col-sm-6 " style="width:50%;" data-animation="fadeInLeft">
                <a>
                    <!-- Icon -->
                    <i class="icon-perm-data-setting fa-2x"></i>
                    <!-- Title -->
                    <h5 class="text-center title">For B.Tech. Programme</h5>
                    <!-- Text -->
                    <p class="text-center title m-4 pl-5">10+2 or Intermediate from any recognized Board with 50% marks (45% for SC/ST
                        Candidates)
                    </p>
                </a>
            </div>
            <div class="item-box icons-color col-sm-6 " data-animation="fadeInLeft">
                <a >
                    
                    <!-- Title -->
                    <h5 class="text-center title">For B.Tech. 2nd Year Lateral Entry</h5>
                    <!-- Text -->
                    <p class="text-center title m-4 pl-5 pr-3">Diploma in any Branch from any Board or University with 60% marks</p>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<br><br>
<div class="container ml-auto">
    <h3 class="text-center">For Admission Enquiry</h3>
    <form method="post" action="/index">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
                placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" aria-describedby="emailHelp"
                placeholder="Enter your phone number">
        </div>
        <div class="form-group">
            <label for="disc">About yourself</label>
            <textarea type="disc" class="form-control" id="disc" name="disc" aria-describedby="emailHelp"
                placeholder="Tell me something about your self"></textarea>
        </div>
        <div style=" text-align: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div
    </form>
</div>


<div class="container">
    <h2 class="com">OUR REPUTED RECRUITERS</h2>
    <section class="customer-logos slider">
        <div class="slide">
            <img src="/static/images/1.png" />
        </div>
        <div class="slide">
            <img src="/static/images/2.png" />
        </div>
        <div class="slide">
            <img src="/static/images/3.png" />
        </div>
        <div class="slide">
            <img src="/static/images/4.png" />
        </div>
        <div class="slide">
            <img src="/static/images/5.png" />
        </div>
        <div class="slide">
            <img src="/static/images/6.png" />
        </div>
        <div class="slide">
            <img src="/static/images/7.png" />
        </div>
        <div class="slide">
            <img src="/static/images/8.png" />
        </div>
        <div class="slide">
            <img src="/static/images/9.png" />
        </div>
        <div class="slide">
            <img src="/static/images/10.png" />
        </div>
    </section>
</div>
<br><br>



<script>
    $(document).ready(function () {
        $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
    });
</script>
{% endblock body %}