{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman', Times, serif;">LIBRARY</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 3rem; padding-right: 3rem; font-family: 'Times New Roman', Times, serif; width: 75%;">
                <ol style="font-weight: bold;" type="1">
                    <p class="p-l" style="font-weight: normal;"> Library is considered as the backbone of any civilized
                        society and
                        heart of any academic Institution. An academic ambience prevails at the Central Library, which
                        enables students and the faculty members to sharpen their intellect. The fully automated library
                        is housed in a separate building. It has a spacious reading room and an air conditioned
                        reference section with a seating capacity of about 250 students.</p>
                    <p class="p-l p-l1">Ideal Institute of Technology, Ghaziabad Library system consists of a central
                        library and 8
                        departmental libraries which collectively support the teaching, research and extension
                        programmes of the institute. All students, faculty members and employees of the institute are
                        entitled to make use of the library facilities by becoming the members. The library, besides
                        having a huge collection of books on engineering, humanities and management offers library
                        services through its various divisions.</p>
                    <ul>
                        Library Computerization
                    </ul>
                    <p class="p-l p-l1"> The library uses NETLIB, Software package which is an integrated multi-users
                        library management
                        system that supports all in-house operations of the library. The NETLIB consists of modules on
                        acquisition, cataloguing, circulation, serials, article indexing and OPAC. The database of books
                        available in the library is being updated on day to day basis with details of recently acquired
                        books. Records of all the library patterns are being created in the NETLIB package. The NETLIB
                        package has been successfully implemented. Issue and return of the books for students, faculty &
                        staff members through bar-coded ID-Cards and all books are having bar code also. Library
                        generated these bar-codes and electronic ID-Cards through NETLIB software. .</p>
                    <ul style="padding-left: 0;">
                        Library Timings:
                    </ul>
                    <p class="p-l"> On working days : 8:00 AM to 8:00 PM </p>

                    <p class="p-l p-l1"> On holidays : 10:00 AM to 2:00 PM</p>
                    <ul style="padding-left: 0;">
                        Collection
                    </ul>
                    <p class="p-l p-l1">The library subscribed 212 text journals and 297 e-journals. The library has a
                        rich collection of
                        books on Engineering, Applied Science and Technology including Chemistry, Mathematics, Physics,
                        and Environment Science, Civil Engineering, Computer Science, Electrical & Electronics
                        Engineering, Electronics & Communication Engineering, Mechanical Engineering and Management,
                        Computer Applications, Information Technology, Architectural Science. Library also has a good
                        collection in the areas of Applied Science and Humanities. Presently Library has 12890 titles
                        with 125670 volumes of books. There are 212 leading National and International Journals, 297
                        e-Journals,28 Magazines, 19 New Papers, 1687 CDs for Books and e-Journals, 1525 Project Reports,
                        157 Standards, and 1500 e-books for students and staff.</p>
                    <ul>
                        Library Sections
                    </ul>
                    <p class="p-l p-l1">The Library has Circulation Section, Reference Section, General Reading Section,
                        Periodical
                        Section with reading space, Book Bank, Section for Samaja Kalyan Vibhag Books, E-Library,
                        Processing Section, Card Making Section, News Paper Section, Multimedia Section, OPAC (Online
                        Public Access Catalogue) for the benefit of students and to motivate and facilitate them in
                        their learning and research.</p>
                    <ul>
                        Library Features
                    </ul>
                    <p class="p-l p-l1">The Library spans over a total area of 1100 Sq m. with a seating capacity of 550
                        students and 435
                        users per day. It is well equipped with 24×7 internet facility an various reprographic services,
                        e-journals, 20 multimedia computers, printers, CD-Writer etc. The library is fully automated
                        with fully networked computers, NETLIB software, Web OPAC and is also facilitated by WiFi
                        connectivity. The library is also a member of DELNET for students and staff.</p>
                    <ul>
                        Book Bank
                    </ul>
                    <p class="p-l p-l1">The Institute runs a Book Bank intended to assist students, by giving text books
                        to them for the
                        whole academic semester, according to the rules framed for the purpose on nominal payment basis.
                    </p>
                    <ul>
                        Reference Section
                    </ul>
                    <p class="p-l p-l1"> A large number of Encyclopedias, Handbooks, Reports, Data Books, Standards,
                        (National &
                        International) are available in the Reference Section of the Library.</p>
                    <ul>
                        Additional Reading Section
                    </ul>
                    <p class="p-l p-l1">The library also has a collection of good Magazines in English and Hindi for
                        leisure reading and
                        other important subjects related to Science and Technology.</p>
                    <ul>
                        Journals/Periodicals Section
                    </ul>
                    <p class="p-l p-l1">Journals being the primary source of information are essential to supplement the
                        research
                        activities and are required regularly; hence, the library has a good collection of Indian and
                        Foreign Journals in various subjects of Science & Technology.</p>
                    <ul>
                        On-Line Journals
                    </ul>
                    <p class="p-l p-l1"> A number of Foreign & Indian journals are being subscribed on-line to
                        facilitate the ongoing
                        research activities & to expand the areas of future research activities.</p>
                    <ul>
                        Reprographic Section
                    </ul>
                    <p class="p-l p-l1">The facilities like Photocopy, Printing, Scanning, Spiral binding, Lamination
                        etc. are provided
                        to the students on payment within the premises of the Institute.</p>
                    <ul>
                        CD-ROM Access to Engineering & Scientific Data Base
                    </ul>
                    <p class="p-l p-l1">Various CD-ROMs databases are being subscribed. Apart from these databases, the
                        library also has
                        a good collection of books on CD-ROMs and video recordings.</p>
                    <ul>
                        Automation of Library & Services
                    </ul>
                    <p class="p-l p-l1">To keep pace with ongoing technological changes, the library records have been
                        computerized for
                        making it accessible to the faculty & students at their work places which not only saves time
                        but also makes the simultaneous multiple access of information available, which otherwise is not
                        possible in print formats. Well known Library management software namely Netlib is being used
                        for the automation of library services.</p>
                    <ul>
                        Electronic Resource Centre
                    </ul>
                    <p class="p-l p-l1">The library is the member of Consortium of Indian Digital Library of Engineering
                        and Technology
                        (INDEST) and Developing Library Network (DELNET) and offers various facilities of member
                        Institutions through resource sharing. The Library also subscribes the IEEE-ASPP, IOL,
                        ASME,J-Gate, Elsevier Package etc.</p>
                </ol>
            </div>
            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>
    </section>
    <br>
    <br>
{% endblock body %}
 