{% extends 'base.html' %}

{% block body %}
<div class="h2-div " style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
    <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman';">Welcome To
        Deparment Of Mechanical Engineering</p>
</div>

<div class=" ">
    <div style="margin-left: 2rem; ">
        <div class="leftdiv pg-b"
            style="padding-top: 5rem; font-family: 'Times New Roman'; font-weight: bold; padding-right: 3rem; width: 75%;">
            <div>
                <div class="container">
                    <p class="ce-p-c" style="color:red; font-weight: bold;">About Department</p>
                    <p class="p-l p-l1" style="text-align: justify; font-weight: bold; color:rgb(0, 0, 0);">
                        Mechanical Engineering department is running with a vision to be recognized by the society as a
                        department offering higher quality and research focus technical education. Department provides
                        value based education to the students to face the challenges in mechanical field. Departmental
                        goals:
                    </p>
                    <ul class="clear-1" style="list-style-type: square; color:rgb(0, 0, 0);">
                        <li class="clear-1">
                            Continuously strive to improve result and employability
                        </li>
                        <li class="clear-1">
                            Upgrade instructional, laboratory and library facilities
                        </li>
                        <li class="clear-1">
                            Expose students to recent advances by motivating them to participate in seminars, workshops
                            and talks by guest speakers<br>

                        </li>
                        <li class="clear-1">
                            Develop faculty through qualification enhancement schemes and industrial exposure

                        </li>
                        <li class="clear-1">
                            Regularly council students to develop desired skills, competencies and attitude.

                        </li>
                        <li class="clear-1">
                            Develop facilities for starting PG courses and research in the department.
                        </li>
                    </ul>
                    <br>
                    <p class="p-l p-l1 clear-1" style="text-align: justify; font-weight: bold;
                     color:rgb(0, 0, 0);"><br>
                        Department has 14 state of the art laboratories with all updated equipments and well experienced faculty members , lab instructors and supporting staff. Few of them are –Workshop Technologies, Fluid Mechanics Lab, Thermal Engg. Lab, CAD Lab, Heat and mass transfer lab and material science and testing lab. Department also had M. Tech in CAD/CAM so well-developed laboratories are there.
                    </p>
                </div>
                <div class="container clear-1" style="text-align: justify; padding-top:2rem;">
                    <p class="clear-1 ce-p-c" style="color:red; font-weight: bold;">Highlights of the Department:</p>
                    <ul class="clear-1" style="list-style-type: square; color:rgb(0, 0, 0); ">
                        <li>
                            CNC LAB Sponsored under the MODROBS scheme of AICTE New Delhi
                        </li>
                        <li>
                            E yentra Robotics and Embedded System Lab Under the guidance of Mechanical Engg. Dept. and ECE Dept.
                        </li>
                        <li>
                            Department students got Second prize in IIT Mumbai for Robotics competition.
                        </li>
                        <li class="clear-1">
                            Anita Mudgal (Asso. Prof) and Kanika Gupta (Assis. Prof) along with her team got First prize in IIT Mumbai in eyantra robotics competition at National Level.
                        </li>
                        <li class="clear-1">
                            Fourth and sixth positions are also got by the department in the same competition
                        </li>
                        <li class="clear-1">
                            Pranjal Singh selected in NTPC in 2018.
                        </li>
                        <li class="clear-1">
                            Krishna Gopal selected in ISRO.
                        </li>
                        <li class="clear-1">
                            Arvind Singh 2003 pass out got first position in UPPCS Exam.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="rightdiv pg-b" style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
            <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
        </div>
    </div>
</div>



{% endblock body %}