{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">ORGENIZATION CHART</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; padding-right: 0rem; width: 75%;">
                <img src="/static/images/chartorgenization.jpg" alt="#" class="img-fluid">
            </div>
            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>
    </section>
    <br>
    <br>
{% endblock body %}
 