{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">PROGRAMS</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; padding-right: 3rem; width: 75%;">
                <P>
                    <strong>OUR PROGRAMS</strong>
                </P>
                <strong>B.Tech.</strong>

                <P>
                    Ideal Group of Institutions offers a 4 Year Full Time Programme in Technology, All these programmes
                    are approved by AICTE and affiliated to Dr. APJ Abdul Kalam Technical University, Lucknow.
                </P>
                <strong>Streams</strong>
                <P>
                    Computer Science and Engg. (CSE) with 90 seats(College Code 028)<br>
                    Civil Engg. (CE) with 120 seats(College Code 028)<br>
                    Mechanical Engg. (ME) with 120 seats(College Code 028)<br>
                    Electronics and Communication Engg.(ECE) with 120 seats(College Code 028)<br>
                    Information Technology (IT) with 60 seats(College Code 028)<br>
                    Electrical and Electronics Engg. (EEE) with 60 seats(College Code 028)<br>
<br>
                    All programs are approved by AICTE and affiliated to Dr. APJ Abdul Kalam Technical University,
                    Lucknow.<br>
                </P>
                <hr>
                {% comment %} <strong>Diploma</strong>
                <P>
                    Ideal Group of Institutions offer 3 Year Full Time Programme in Diploma Level in Engg. and Technology (Polytechnic) in Civil Engg.(CE) and Mechanical Engg.(ME) with 60 seats in each (College Code 645). These are approved by AICTE and affiliated to Board of Technical Education (BTE), Lucknow.<br>
                </P>
                <hr> {% endcomment %}
                <br>

            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>

    </section>
    <br>

    <br>
    <br>
{% endblock body %}