{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem; font-family: 'Times New Roman', Times, serif;">SECRETARY'S MESSAGE</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; font-family: 'Times New Roman', Times, serif; padding-right: 3rem; width: 75%; font-size: medium;">
                <img src="/static/images/secretary.png" alt="#" class="img-thumbnail mr-2" id="hp">
                <p style="padding-bottom: 20px;">At the outset, I extend a cordial welcome to all of you at Ideal Group
                    of Institutions. The well known Ideal Group has taken the initiative of establishing a centre of
                    excellence for Engineering, Architecture , Management and Professional Education.
                </p>
                <p>
                    The Group has grown in all aspects and has become an excellent academic body because of the
                    commitment and dedication shown by the faculty and students over the years.

                </p>
                <p>
                    At Ideal, the students will get an opportunity to reactivate their nascent knowledge and skills in
                    order to uplift academics, research and professionalism as a whole to elevate mankind.

                    With this mission, we shall embark on our voyage to success.
                </p>
                <p><strong>

                        “I hope, the students at Ideal Group will adhere to the paths we have paved and bring laurels to
                        the ongoing legacy.”.</strong>
                </p>
                <br>
                <p><strong>
                        Gyan Prakash Goel <br>
                        (Secretary) </strong>
                </p>
            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>

    </section>
    <br>

    <br>
    <br>
{% endblock body %}