{% extends 'base.html' %}

{% block body %}
    <div class="h2-div" style="padding-top: 10px; font-family: 'Times New Roman', Times, serif; text-align: center; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">SPOERTS</p>
    </div>
    <section>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; font-family: 'Times New Roman', Times, serif; padding-right: 3rem; width: 60%;">

                <!-- <li>Playground</li> -->
                <p class="p-l p-l1">The Ideal Group of Institutions has a well organised sports committee and a sports
                    complex. The entire Sports Complex is spread in an area of 10 Acres. The Sports Complex has one
                    Multipurpose Hall for Indoor games i.e. Badminton, Table-Tennis, Carom board, Chess, Multi-Gym, Yoga
                    , One cemented Cricket pitch, one ground each for Football, Cricket and volleyball, one cemented
                    Basketball court and one Lawn Tennis Hard court.</p>
                <p class="p-l p-l1">
                    For Colleges students and Staff Members, the timings for sports activities are 6 to 8 in the morning
                    and 4 to 7 in the evening. The Sports Equipments / kits are issued to students during tournaments.
                    Inter-Branch Tournaments are conducted in various games annually i.e. Chess, Football, Badminton,
                    Table Tennis, Cross-Country Race, Volleyball shooting & smashing, Cricket. Annual Athletic Meet –
                    AARAMBH is also held every year.
                </p>

            </div>
            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>
    </section>
    <br>
    <br>
{% endblock body %}
