{% extends 'base.html' %}

{% block body %}
    <div class="h2-div " style="padding-top: 10px; text-align: center;font-family: 'Times New Roman', Times, serif; background: rgb(229, 229, 229);">
        <p style="padding-left: 3rem; text-align: left; font-size: 3rem;">WiFi</p>
    </div>


    <div>
        <div style="margin-left: 2rem; ">
            <div class="leftdiv pg-b" style="padding-top: 5rem; font-family: 'Times New Roman', Times, serif; padding-right: 3rem; width: 75%;">
                <p class="p-l p-l1">Ideal Institute of Technology is a fine ensemble in terms of the latest networking
                    and WiFi Infrastructure as well as equipment made available to students. A conducive learning
                    atmosphere is promoted through the use of fully wi-fi enabled set-up across the campus. This allows
                    learning to move outside the classrooms where students can discuss, learn and grow. It also helps to
                    maintain a wire free campus area and access to secure Internet of 55 Mbps speed to the students as
                    well as faculty members.
                </p>
            </div>

            <div class="rightdiv pg-b"
                style="padding-top: 5rem; padding-left: 10px; text-align: justify; width: 304px;">
                <p style="padding-left: 10px;"> IMPORTANT LINKS</p>
        <hr style="padding-left: 10px; border:none; height:1px; background: rgb(0, 0, 0);" />
        <div style="padding-left: 1rem;">
            <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br>
            <a class="clear-1" href="https://aicte-india.org/">Approval : AICTE, New Delhi</a><br>
            <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br>
            <a class="clear-1" href="https://ndl.iitkgp.ac.in/">NDL</a><br>
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">INDEST</a><br> -->
            <!-- <a class="clear-1" href="https://archive.nptel.ac.in/">NPTEL</a><br> -->
            <!-- <a class="clear-1" href="/index">Home </a><br>
            <a class="clear-1" href="https://aktu.ac.in/">Affiliation : AKTU</a><br -->
        </div>
            </div>
        </div>
    </div>

{% endblock body %}